* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  font-family: 맑은 고딕;
  color: #333;
}

img {
  border: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-align: none;
}
